<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="portfolio_review.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <table class="table">
                <thead>
                    <tr>
                        <th class="head num">번호</th>
                        <th class="head title">제목</th>
                        <th class="head date">작성일자</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>리뷰 제목 입니다.</td>
                        <td>2021.12.14</td>
                    </tr>
                </tbody>
            </table>
        </div><!--content end-->
    </div><!--contatiner end-->
</body>
</html>