<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPEASY</title>
    <link rel="stylesheet" href="portfolio.css">
</head>
<body>
    <div class="container"> <!--웹페이지 전체 div-->
        <div class="content banner"> <!--배너 div-->
            <div><a href="#">VAPEASY</a></div>
        </div><!--배너 div 끝-->
        <div class="content nav"><!--네비 div -->
            <div class="menu"><a href="#">홈버튼</a></div>
            <div class="menu"><a href="#">서비스</a></div>
            <div class="menu"><a href="#">마이페이지</a></div>
            <div class="menu"><a href="#">고객센터</a></div>
        </div><!--네비 div 끝-->
        <div class="content survey"><!--서베이 div-->
            <div><a href="#">내 취향 찾아보기</a></div>
        </div><!--서베이 div 끝-->
        <div class="container section"><!--섹션 div 시작-->
            <div class="content map"><!--맵 div-->
                <div id="map"><img src="img/아무거나2.jpg" alt=""></div>
                <ul>
                    <li><a href="#">매장1</a></li>
                    <li><a href="#">매장2</a></li>
                    <li><a href="#">매장3</a></li>
                    <li><a href="#">매장4</a></li>
                </ul>
            </div><!--맵 div 끝-->
            <div class="content review"><!--리뷰 div-->
                <img src="img/아무거나2.jpg" alt="">
                <p>최근리뷰</p>
                <p>좋아요!</p>
            </div><!--리뷰 div 끝-->
            <div class="content brandnew"><!--신제품 div-->
                <img src="img/아무거나2.jpg" alt="">
                <p>신제품 알림</p>
                <p>어떠세요?</p>
            </div><!--신제품 div 끝-->
        </div><!--섹션 div 끝-->
    </div><!--웹페이지 전체 div 끝-->
</body>
</html>