{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/review_detail.css' %}">
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <div class="detailcontainer">
        <div class="mydetail">
            <div class="mytitle">
                <div class="subject">
                    {{ review.subject }}<!--리뷰 제목-->

                    <!--리뷰수정, 삭제 버튼 제목과 같은 위치로 이동하기 위함-->
                    <!--리뷰 수정-->
                    {% if request.user == review.author %}
                    <a href="{% url 'vapeasy:review_modify' review.id %}"
                    class="btn btn-primary modify">수정</a>
                    {% endif %}
                    <!--리뷰 수정 end-->

                    <!--리뷰 삭제-->
                    {% if request.user == review.author %}
                    <a data-uri="{% url 'vapeasy:review_delete' review.id %}"
                    class="btn btn-primary delete">삭제</a>
                    {% endif %}
                    <!--리뷰 삭제 end-->

                </div><!--리뷰 제목 div end -->
                <div class="author">{{ review.author }}</div>
                <!--작성&수정 날짜 하나로 합침-->
                {% if review.modify_date %}
                <div class="create_date">
                    <label>{{ review.modify_date }} "수정됨"<label>
                </div>
                {% else %}
                <div class="create_date">{{ review.create_date }}</div>
                {% endif %}
            </div>
            <div class="content">{{ review.content }}</div>

            <!--리뷰 추천 기능-->
            <div class="review-vote">
                <a class="vote-button" href="{% url 'vapeasy:vote_review' review.id %}" data-uri="{% url 'vapeasy:vote_review' review.id %}">
                    <p class="vote-count">{{ review.voter.count }}</p>
                    <i class="xi-thumbs-up vote-thumb"></i>
                </a>
            </div>
            <!--리뷰 추천 기능 끝-->

            <!--댓글기능 시작-->
            {% if review.comment_set.count > 0 %}
                <label class="comment-count">댓글 총 {{ review.comment_set.count }}건</label>
                {% for comment in review.comment_set.all %}
                    <a name="comment_{{ comment.id }}"></a>
                    <div class="comment">
                        <div class="comment-title">
                            <span class="comment-username">{{ comment.author }}</span>
                            <!--작성&수정날짜 한번만 띄우기-->
                            {% if comment.modify_date %}
                            <span class="comment-date">{{ comment.modify_date }} "수정됨"</span>
                            {% else %}
                            <span class="comment-date">{{ comment.create_date }}</span>
                            {% endif %}
                        </div>
                        <div class="comment-content"><span>{{ comment.content }}</span></div>
                        
                        <!--댓글 추천 기능-->
                        <div class="comment-vote">
                            <a class="vote-button" href="{% url 'vapeasy:vote_comment' comment.id %}" data-uri="{% url 'vapeasy:vote_comment' comment.id %}">
                                <p class="vote-comment-count">
                                    {% if comment.voter.count > 0 %}
                                    {{ comment.voter.count }}
                                    {% endif %}
                                    추천
                                </p>
                            </a>
                        </div>
                        <!--댓글 추천 기능 끝-->
                        
                        <!--댓글 수정 삭제 버튼-->
                        {% if comment.author == request.user %}
                            <div class="comment-btn">
                                <a class="comment-modify">수정</a>
                                <a href="#" class="comment-delete" data-uri="{% url 'vapeasy:comment_delete_review' comment.id %}">삭제</a>
                            </div>
                            <!--댓글 수정버튼 클릭시 템플릿에서 폼 띄우기-->
                            <form action="{% url 'vapeasy:comment_modify_review' comment.id %}" method="POST" class="comment-modify-form"
                            style="display: none;">
                                {% csrf_token %}
                                <textarea name="content" id="content"class="write-field" requierd>{{ form.content.value|default_if_none:'' }}</textarea>
                                <input type="submit" value="댓글수정" class="comment-modify-button">
                            </form>

                        {% endif %}
                        
                

                    </div><!--comment div end-->
                {% endfor %}
            {% endif %}
            <!--댓글기능 end-->
        </div><!--리뷰 내용 detail div end-->

        <!--댓글 폼 템플릿에서 받기-->
        {% if user.is_authenticated %}
        <form action="{% url 'vapeasy:comment_create_review' review.id %}" method="POST" class="comment-write">
            {% csrf_token %}
            <textarea name="content" id="content"class="write-field" requierd>{{ form.content.value|default_if_none:'' }}</textarea>
            <input type="submit" value="댓글등록" class="comment-button">
        </form>
        {% endif %}
    </div><!--container end-->
{% endblock %}


{% block script %}
<script type='text/javascript'>
    $(document).ready(function(){
        /*리뷰 삭제*/
        $(".delete").on('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });

        /* 댓글 삭제*/
        $(".comment-delete").on('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });

        /* 댓글 수정*/
        $(".comment-modify-button").on('click', function() {
            if(confirm("정말로 수정하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });

        /* 댓글 수정 폼 토글하기*/
        $(".comment-modify").click(function(){
            $(".comment-modify-form").toggle();
        });



    });
</script>
{% endblock %}
