{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/survey_list.css' %}">

<div class="survey-container">
    <form action="{% url 'vapeasy:survey_answer' %}" method="POST">
        {% csrf_token %}
        <div class="survey-content">
            {% for survey in survey_list %}
            <p class="survey-question content">{{ survey.question }}</p>
            <label class="option content"><input type="checkbox" name="choice" value="{{ survey.answer1 }}">{{ survey.answer1 }}</label>
            <label class="option content"><input type="checkbox" name="choice" value="{{ survey.answer2 }}">{{ survey.answer2 }}</label>
            <label class="option content"><input type="checkbox" name="choice" value="{{ survey.answer3 }}">{{ survey.answer3 }}</label>
            <label class="option content"><input type="checkbox" name="choice" value="{{ survey.answer4 }}">{{ survey.answer4 }}</label>
            {% endfor %}
            <input type="submit" class="survey_submit" value="완료">
        </div><!--survey-content end-->
    </form>
</div>

{% endblock %}