@import url(//db.onlinewebfonts.com/c/67680f2eb947c5cbd58b40961b4a61e9?family=Apple+SD+Gothic+Neo);
*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.5s;
}
html, body{
    background-color: #f5f5f5;
}
.mycontainer{
    width: 100%;
    height: 100%;
}
.mybanner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    height: 18vh;
    background-color: #003366;
}
.mybanner > div > a{
    color: #f5f5f5;
}

.mynavbar{
    border: 0.1rem solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
    margin-bottom: 0.2rem;
    background-color: white;
}
.menu{
    margin: 0 1rem;
}
.menu a{
    color: black;
    padding: 0.7rem 0;
}
.mynavbar div:first-child{
    margin-right: auto;
}




