*{
    box-sizing: border-box;
}
@media (min-width:1024px){
    html {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica
            Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
        font-size: 16px;
        min-width: 501px;
    }
}
@media (min-width:412px){
    html {
        width: 100vw;
        height: 100vh;
    }
}
a{
    text-decoration: none;
    color: black;
}
:root {
    --main_color: #DEFCF9;
    --main_bg: #CADEFC;
    --content_bg: #C3BEF0;
    --sub_bg: #CCA8E9;
}
.font-xs{
    font-size: 0.75rem;
}
.font-sm{
    font-size: 0.875rem
}
.font-base{
    font-size: 1rem
}
.font-lg{
    font-size: 1.125rem
}
.font-xl{
    font-size: 1.25rem
}

.mycontainer{
    /* border: 0.1rem solid red; */
    width: 100%;
    background-color: var(--main_bg);
}

/* 배너부분 */
.mybanner{
    background-color: var(--main_color);
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
}
.mybanner > div > a{
    padding: 2.5rem;
}

/* 네비바 */
.mynavbar{
    background-color: var(--main_bg);
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.1rem solid var(--sub_bg) ;
    border-bottom: 0.1rem solid var(--sub_bg) ;
}
.menu > a{
    padding: .5rem 1rem;
}
.menu:first-child{
    margin-right: auto;
}
.menu > a:hover{
    background-color: var(--sub_bg);
    transition: 1s;
}