.container{
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* 서베이 */
.mysurvey{
    width: 85%;
    height: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.survey_img{
    height: 100%;
    /* opacity: 0.6; */
    display: none;
    transform: scale(0);
}
.survey_button{
    font-size: 5rem;
    text-align: center;
    transition: 0.5s;
    display: none;
    transform: scale(0);
}
.mysurvey:hover{
    cursor: pointer;
}
.survey_content{
    border: .25rem dashed var(--main_color);
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 100%;
    /* left: 500px;
    z-index: 1000; */
}
/* 서베이에 마우스오버 시에 효과를 주기 위한 코드 */
.img_active{
    height: 100%;
}
.button_active{
    font-size: 5.5rem;
    text-align: center;
    transition: 0.5s;
    color: black;
}
.content_active{
    border: .25rem dashed var(--main_color);
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    display: none;
}