.container{
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* 서베이 */
.mysurvey{
    /* border: .1rem solid red; */
    width: 85%;
    height: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.survey_img{
    height: 100%;
    opacity: 0.6;
    transition: 0.5s;
}
.survey_button{
    font-size: 5rem;
    text-align: center;
    transition: 0.5s;
}
.mysurvey:hover{
    cursor: pointer;
}
.survey_content{
    border: .25rem dashed var(--main_color);
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    display: none;
    transition: 0.5s;
}
/* 서베이에 마우스오버 시에 효과를 주기 위한 코드 */
.img_active{
    height: 105%;
    opacity: 1;
    transition: 0.5s;
}
.button_active{
    font-size: 5.5rem;
    text-align: center;
    transition: 0.5s;
    color: #00FFAB;
}
.content_active{
    border: .25rem dashed var(--main_color);
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    display: inline;
}