.product-list-container{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.product-list-content{
    width: 80%;
    border: .1rem solid lightgrey;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px lightgrey;
    background-color: white;
    padding: 3rem;
    margin: 2rem 0;

}
.product-subject{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: .1rem solid lightgrey;
    text-transform: rotate(0.04deg);

}
.product-list{
    display: flex;
    flex-wrap: wrap;
    text-transform: rotate(0.04deg);

}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: fit-content;
    padding: 0.5rem;
    margin: 2rem 1.5rem;
    border: .1rem solid lightgrey;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px lightgrey;
    text-transform: rotate(0.04deg);

}
.product-name{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.product-image{
    width: 8rem;
    height: 8rem;
}
.myimage{
    width: 100%;
    height: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .survey-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    .result-title{
        font-size: 2rem;
        font-weight: bold;

    }
    .product-list-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .product{
        width: 20%;
        margin: 0.5rem;
        padding: 0.5rem;
        border: .1rem solid lightgray;
        border-radius: 1rem;
    }
    .product-name{
        white-space: nowrap;
        width: 100%;
    }
    .myimage{
        width: 100%;
    }
}