*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
.detailcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mydetail{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid lightgrey;
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 3rem;
    background-color: white;
    box-shadow: 3px 3px 3px lightgrey;
}
.subject{
    font-size: 2.5em;
    font-weight: bold;
    vertical-align: middle;
}
.author{
    font-size: 1.5em;
    text-align: end;
}
.create_date{
    text-align: end;
}
.mytitle{
    width: 100%;
    border-bottom: .1rem solid lightgrey;
}
.mytitle > div{
    margin: 1rem 0;
}
.content{
    width: 100%;
    min-height: 40vh;
    padding: 3rem;
}
.comment{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem;
    border-bottom: .1rem solid lightgrey;
}
.comment:last-child{
    border-bottom: none;
}
.comment-count{
    width: 100%;
    display: block;
    padding: 1rem 0;
    font-weight: bold;
    border-top: .1rem dashed lightgrey;

}
.comment-username{
    font-size: 1.5em;
}
.comment-content{
    margin: 0.5rem 0;
}
.comment-btn{
    margin-left: auto;
}
.comment-write{
    width: 90%;
    border: .1rem solid lightgrey;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    background-color: white;
    box-shadow: 3px 3px 3px lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.write-field{
    width: 100%;
    min-height: 10rem;
    margin-bottom: 1rem;
    border-color: lightgrey;
    resize: none;
}
.write-field:focus{
    border: .2rem solid grey;
}
/* 부트스트랩 버튼 */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
.btn {
    transition: none;
}
}

.btn:hover {
color: #212529;
text-decoration: none;
}

.btn:focus, .btn.focus {
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
pointer-events: none;
}

.btn-primary {
color: #fff;
background-color: #007bff;
border-color: #007bff;
}

.btn-primary:hover {
color: #fff;
background-color: #0069d9;
border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
color: #fff;
background-color: #0069d9;
border-color: #0062cc;
box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
color: #fff;
background-color: #007bff;
border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
color: #fff;
background-color: #0062cc;
border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}