.survey-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.result-title{
    display: block;
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0 ;
}
.product-list-container{
    display: flex;
    justify-content: center;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: fit-content;
    padding: 0.5rem;
    margin: 2rem 1.5rem;
    border: .1rem solid lightgrey;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px lightgrey;
    text-transform: rotate(0.04deg);
}
.product-name{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.product-image{
    width: 8rem;
    height: 8rem;
}
.myimage{
    width: 100%;
    height: 100%;
}
