{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mfaqi7w8r8"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="container">
        <div class="mysurvey"><!--서베이 div-->
            <a class="survey_content">취향에 맞는<br>액상을<br>추천해<br>드릴게요!</a>
            <img class="survey_img" src="{% static 'img/vape-liquid.png' %}" alt="survey_img">
            <a class="survey_button">EASY TOOL<br>👆</a>
        </div><!--서베이 div 끝-->
        
</div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        let mysurvey = document.querySelector(".mysurvey");
        let survey_button = document.querySelector(".survey_button")
        let survey_img = document.querySelector(".survey_img")
        let survey_content = document.querySelector(".survey_content")

        mysurvey.addEventListener("mouseover",function(){
            function disapear(){
                survey_content.style.transition = '0.5s ease';
                survey_content.style.transform = 'scale(0)';
                setTimeout(function(){
                    survey_img.style.display = 'inline';
                    survey_button.style.display = 'inline';
                    setTimeout(function(){
                        survey_img.style.transition = '0.5s ease';
                        survey_img.style.transform = 'scale(1)';
                        survey_button.style.transition = '0.5s ease';
                        survey_button.style.transform = 'scale(1)';
                        survey_content.className = "content_active";
                    },300);
                },500);
            };
            disapear();
        });


        mysurvey.addEventListener("mouseleave", function(){
            function show(){
                survey_img.style.transition = '0.5s ease';
                survey_img.style.transform = 'scale(0)';
                survey_button.style.transition = '0.5s ease';
                survey_button.style.transform = 'scale(0)';

                setTimeout(function(){
                    survey_img.style.display = 'none';
                    survey_button.style.display = 'none';
                    survey_content.className = "survey_content";

                    setTimeout(function(){
                        survey_content.style.transition = '0.5s ease';
                        survey_content.style.transform = 'scale(1)';
                    },300);
                },500);
            };
            show();
        });

        mysurvey.addEventListener("click", function(){
            location.href = "{% url 'vapeasy:survey' %}"
        });
    </script>
{% endblock %}


